<!DOCTYPE html>
<html lang="en" >
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  {% include template/head.html %}
  </head>

  <body>
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->

      <div class="d-inline-flex flex-column p-3 border-end" id="sidebar-wrapper">
        <a href="{{ '/' | relative_url }}" class="py-3 px-3 link-dark border-bottom">
          <span class="fs-5 fw-semibold">{% include icon.html icon="journal-text" %} HIST 320 Digital Project</span>
        </a>
        <ul class="list-unstyled mt-3">
          {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%} 
          {% for nav in navItems %}
          {% if nav.stub %}
          <li class="mb-1">
            <a class="btn nav-btn align-items-center rounded" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
          </li>
          {%- else -%}
          <li class="mb-1">
            {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %}
            {%- assign childStubs = navChildren | map: 'stub' -%}
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="{{ nav.display_name | escape | replace: ' ', '-' | downcase | append: '-collapse' | prepend: '#' }}" aria-expanded="false">{{ nav.display_name }}</button>
            <div class="collapse{% if childStubs contains page.url %} show{% endif %}" id="{{ nav.display_name | escape | replace: ' ', '-' | downcase | append: '-collapse' }}">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                {% for c in navChildren %}
                <li><a href="{{ c.stub | relative_url }}" class="link-dark rounded">{{ c.display_name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endif %}
          {%- endfor -%}
          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#about-collapse" aria-expanded="false">About</button>
            <div class="collapse" id="about-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1">
                <li><a href="{{ '/intro.html' | relative_url }}" class="link-dark rounded">About This Project</a></li>
                <li><a href="{{ '/learn-static.html' | relative_url }}" class="link-dark rounded">About Learn-Static</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-light bg-light border-bottom">
          <div class="container-fluid">
            <button class="navbar-toggler" id="sidebarToggle" title="Toggle Sidebar"><span class="navbar-toggler-icon"></span></button>
            <span class="navbar-brand">| {{ page.title }}</span>
            
          </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
          <main id="maincontent" role="main" aria-label="Content">
            <div class="px-5 py-2">
            {{ content }}
            </div>
          </main>

        </div>
      </div>
    </div>

    {% include template/foot.html %}

  </body>

</html>