<!DOCTYPE html>
<html lang="en" >
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  {% include template/head.html %}
  </head>

  <body>
    <div id="skip-to-content"><a href="#maincontent">Skip to main content</a></div>
    
    <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <!--<div class="border-end bg-white" id="sidebar-wrapper">
        
        <div class="sidebar-heading border-bottom bg-light"><a href="{{ '/' | relative_url }}">{% if site.title-icon %}{% include icon.html icon=site.title-icon %} {% endif %}{{ site.title }}</a></div>

        <div class="sidebar-heading border-bottom bg-light" style="height:100px;"></div>
        
        <div class="list-group list-group-flush">
          {% assign nav_pages = site.html_pages | where_exp: 'p','p.nav' | sort: 'order', 'first' %}
          {% for p in nav_pages %}
          <a class="list-group-item list-group-item-action p-3 {% if page.url == p.permalink %} list-group-item-primary{% else %} list-group-item-light{% endif %}" href="{{ p.permalink | relative_url }}">{% if p.nav == true %}{{ p.title }}{% else %}{{ p.nav }}{% endif %}</a>
          {% endfor %}
        </div>

      </div>-->

      <div class="flex-shrink-0 p-3 bg-white border-end" id="sidebar-wrapper">
        <a href="{{ '/' | relative_url }}" class="d-flex align-items-center mb-3 py-3 link-dark text-decoration-none border-bottom">
          <span class="fs-5 fw-semibold">{% include icon.html icon="journal-text" %} HIST 320 Digital Project</span>
        </a>
        <ul class="list-unstyled">
          {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nil' -%} 
          {% for nav in navItems %}
          {% if nav.stub %}
          <li class="mb-1">
            <a class="btn nav-btn align-items-center rounded" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
          </li>
          {%- else -%}
          <li class="mb-1">
            {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %}
            {%- assign childStubs = navChildren | map: 'stub' -%}
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="{{ nav.display_name | escape | replace: ' ', '-' | downcase | append: '-collapse' | prepend: '#' }}" aria-expanded="false">{{ nav.display_name }}</button>
            <div class="collapse{% if childStubs contains page.url %} show{% endif %}" id="{{ nav.display_name | escape | replace: ' ', '-' | downcase | append: '-collapse' }}">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                {% for c in navChildren %}
                <li><a href="{{ c.stub | relative_url }}" class="link-dark rounded">{{ c.display_name }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </li>
          {% endif %}
          {%- endfor -%}
          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#about-collapse" aria-expanded="false">About</button>
            <div class="collapse" id="about-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{{ '/intro.html' | relative_url }}" class="link-dark rounded">About This Project</a></li>
                <li><a href="{{ '/learn-static.html' | relative_url }}" class="link-dark rounded">About Learn-Static</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-light bg-light border-bottom">
          <div class="container-fluid">
            <button class="navbar-toggler" id="sidebarToggle" title="Toggle Sidebar"><span class="navbar-toggler-icon"></span></button>
            <span class="navbar-brand"><a href="{{ '/' | relative_url }}">{{ site.title }}</a> | {{ page.title }}</span>
            
          </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
          <main id="maincontent" role="main" aria-label="Content">
            <div class="px-5 py-2">
            {{ content }}
            </div>
          </main>
          
          <!-- footer --> 
          <div class="text-center my-5">
            <div class="list-group list-group-horizontal">
              {% assign nav_pages = site.html_pages | where_exp: 'p','p.nav' | sort: 'name' | sort: 'nav_order', 'first' %}
              {% for p in nav_pages %}
              <a class="list-group-item flex-fill {% if page.url == p.url %} list-group-item-primary{% else %} list-group-item-light{% endif %}" href="{{ p.url | relative_url }}">{% if p.nav == true %}{{ p.title }}{% else %}{{ p.nav }}{% endif %}</a>
              {% endfor %}
            </div>
          </div>
          {% include template/footer.html %}

        </div>
      </div>
    </div>

    {% include template/foot.html %}

  </body>

</html>